.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    width: 1200px;
    background-color: antiquewhite;
    margin: auto;
    padding-bottom: 20px;
}

#info {
    padding: 30px;
}

a{
    text-decoration: none;
    color: #e89b37;
  }

.list-group {
    width: 350px;
    padding: 10px;
    border-radius: 5px;
}

.table {
    width: 800px;
    background: #ffffff;
}

.table th, .table td {
    padding: 12px;
}

#courses {
    align-items: center;
}